{% extends "base.html" %}
{% block title %}All rants!{% endblock title%}

{% block body %}
<header>
    <a href="/login">Login to start ranting!</a>
</header>
{% for rant in rants %}
<hr/>
<article>
    <p>{{rant.rant}}</p>
    <p>{{rant.author}}</p>
</article>
{% endfor %}
{% endblock body %}

