{% extends "base.html" %}
{% block title %}Login{% endblock title%}

{% block body %}
<form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username"/>
    <label for="password">Password</label>
    <input type="password" name="password"/>
    <button type="submit">Submit</button>
</form>
{% endblock body %}
