{% extends "base.html" %}
{% block title %}New rant{% endblock title%}

{% block body %}
<form action="/rant" method="POST">
    <label for="rant"></label>
    <textarea name="rant"></textarea>
    <button type="submit">Submit</button>
</form>
{% endblock body %}
